{% extends 'base.html.twig' %}

{% block title %}Klasa index{% endblock %}

{% block body %}
    <h1>Klasa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Stanowisko</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for klasa in klasas %}
            <tr>
                <td>{{ klasa.id }}</td>
                <td>{{ klasa.nazwa }}</td>
                <td>{{ klasa.stanowisko }}</td>
                <td>
                    <a href="{{ path('klasa_show', {'id': klasa.id}) }}">show</a>
                    <a href="{{ path('klasa_edit', {'id': klasa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}  
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('klasa_new') }}">Create new</a>
{% endblock %}
